* {
    margin: 0;
    padding: 0;
}
#main_bg {
    background-image: url(../assets/images/background/index_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    z-index: -1;
}
.top_search {
    position: fixed;
    margin-left: 20vw;
    width:79vw;
    margin-top: 1vh;
    margin-right: 1vw;
    top: 0;
    left: 0;
    height: 5vh;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}
.left_menu ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.left_item {
    box-sizing: border-box;
    margin: 0;                
    flex: 1 1 0;               
    min-height: 0;            
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    display: flex;             
    align-items: center;       
    padding: 8px;              
    align-items: center; 
}

/* .left_menu ul{
} */