*{
    margin:0;
    padding:0;
}
#main_bg{
    background-image: url(../assets/images/background/index_bg.jpg);
    background-size: cover;      
    background-repeat: no-repeat; 
    background-position: center;  
    position: fixed;

    min-height: 100vh; 
    width:100%;
    background-attachment: fixed;
    /* position:absolute; */
    z-index: -1;
}
.top_search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}
.left_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 18vw;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    box-shadow: 6px 0px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}
/* .left_menu ul{
} */